apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: petclinic
  labels:
    app: config-server
spec:
  type: ClusterIP      
  ports:
    - name: http
      port: 8888      
      targetPort: 8888  
  selector:
    app: config-server