apiVersion: v1
kind: Service
metadata:
  name: customers-service
  namespace: petclinic
  labels:
    app: customers-service
spec:
  selector:
    app: customers-service
  ports:
    - name: "http"
      port: 8081        
      targetPort: 8081  
  type: ClusterIP      
