apiVersion: v1
kind: Service
metadata:
  name: discovery-server
  namespace: petclinic
  labels:
    app: discovery-server
spec:
  selector:
    app: discovery-server
  ports:
    - name: "http"
      port: 8761        
      targetPort: 8761  
  type: ClusterIP       
